{% extends 'base.html.twig' %}
{% block main %}

    <section>
        <h2 class="sectionTitle">Modifier le mot de passe</h2>
        <div class="container">
            <form method="post" action="{{ path('app_password_reset', {'token': token } ) }}">
                <div class="formInput">
                    <label for="password">Nouveau mot de passe :</label>
                    <input type="password" name="password" id="password" required/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="CTA" type="submit">Valider</button>
            </form>

        </div>

    </section>
{% endblock %}