{% extends 'base.html.twig' %}
{% block main %}
    <h2>Connexion</h2>

    <form method="post" action="{{ path('app_forget_password') }}">
        <label for="username">E-mail :
            <input type="text" name="_username" id="username" required/>
        </label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Recevoir le lien</button>
    </form>
{% endblock %}