{% extends 'base.html.twig' %}
{% block main %}

    <section>
        <h2 class="sectionTitle">Recevoir un lien</h2>
        <div class="container">
            <form method="post" action="{{ path('app_forget_password') }}">
                <div class="formInput">

                    <label for="email">E-mail :</label>
                    <input type="text" name="_email" id="email" required/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="CTA" type="submit">Recevoir le lien</button>
            </form>

        </div>
    </section>

{% endblock %}