button {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;

    &.link {
        color: var(--PRIMARY);
        text-decoration: none;
        background: none;
        border: none;
        text-transform: lowercase;
        border-bottom: 1px solid var(--PRIMARY);
        padding: 0 1rem;
    }
}

.CTA {
    padding: .75rem 2rem;
    margin: 0 1rem;
    border-radius: 30px;
    font-weight: bold;
    transition: all .25s;
    width: max-content;
    border: 1px solid transparent;
    border: 1px solid var(--PRIMARY);
    color: var(--DARK);
    background: var(--PRIMARY);

    &:hover {
        background: var(--DARK);
        color: var(--PRIMARY);
    }
}

