<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Basaalt{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block main %}


{% endblock %}
</body>
=======
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Basaalt
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link href="{{ asset('styles/styles.css') }}" rel="stylesheet"/>

		{% endblock %}


	</head>
	<body>
		<div class="flashContainer">

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class=" {{ label }} ">
						<button class="close" data-dismiss="alert" aria-label="Close">
							x
						</button>
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% block main %}{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('scripts/script.js') }}"></script>
		{% endblock %}
	</body>
>>>>>>> develop
</html>
