<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<style>:root
	{
		--LIGHT: #FFF;
		--DARK: #333333;
		--PRIMARY: #DAD178;
		--GRAY: #999999;

		--PRIMARUY: #FFDA22;
		--DARK: #000f08;
		--LIGHT: #F6F8FF;
		--GRAY: #77878B;
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			padding: 2rem;
		}

		a {
			display: inline-block;
			width: max-content;
			margin-top: 1rem;
		}

		section {
			width: 100%;
		}

		section .container {
			max-width: 500px;
		}

		#signature {
			margin-top: 2rem;
		}
	}
</style>
<body>
	{% block content %}{% endblock %}
	{% block signature %}
		<section id="signature">
			<div</html</html class="container">
				<p>
					Basaalt - Team Support</p>
			</div>
		</section>
	{% endblock %}
</body></html>
