{% extends 'email/base_email.html.twig' %}
{% block content %}
	<section>
		<div class="container">
			<p>Bonjour
				{{ order.buyer.firstName }},</p>
			<p>Votre commande a été mise à jour.</p>
			<p>{{ (status ? 'Statut : ' ~ status ~ '<br />' : '')|raw }}
				{% if (order.deliveryUrl) %}
					Suivi de livraison :
					<a href={{ order.deliveryUrl }} target="_blank">
						{{ order.deliveryUrl }}</a>
					<br/>
				{% endif %}
			</p>
		</p>
	</div>
</section>{% endblock %}
